html{
  background-color:#c5c3bb;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:#4a4944;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:#6c6a63;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color:#929087;
}


p {
  font-family: 'Open Sans', sans-serif;
}

blockquote {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;
  font-weight: 100
}

cite {
  color:#2d8e76;
}

ol,ul,dl {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
}

figcaption {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

a {
  color: #2d8e76;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

dl dt {
  font-weight: bolder;
}

.celest{
  color:#2d8e76;
}

.round{
  color:#2d8e76;
}
